// Scroll to Top Icon
.fa-arrow-alt-circle-up {
    color: var(--accentColor);
    font-family: font-awesome;
    content: 'f35b';
    font-size: 2.5rem;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 3000000;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
}


/* Pulse Animation */

.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

// Mobile Dropdown Menu
form {
    display: none;
    padding: 10px 20px;
    background: $main-color;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    select {
        border: 1px solid white;
        background: $main-color;
        color: white;
        padding: 10px;
        margin-right: 10px;
        option {
            padding: 10px;
        }
    }
}

// Weather Widget
.widget-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid black;
    height: 100%;
    .datestamp {
        font-size: 1.2rem;
        margin: 0;
        font-weight: 600;
        word-spacing: 0.1rem;
        padding-left: 10px;
    }
}

.widget {
    padding: 10px 10px 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .region {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
    }
    .weather-icon {
        height: 50px;
        width: 50px;
    }
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 0 15px 0 10px;
    border-left: 1px solid $main-color;
    border-right: 1px solid $main-color;
    text-align: center;
}

.weather-type {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 0 5px;
}

.weather-image {
    max-width: 100%;
    height: 50px;
}

.temps p {
    margin: 2px 0;
}

// Select Country Options
.options {
    background: black;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    p {
        padding-bottom: 0;
    }
}

.option-links {
    padding: 15px 10px 15px 0;
    margin: 0;
    color: white;
    font-size: 1rem;
}

.fa-caret-down {
    color: var(--accentColor);
    margin-bottom: 5px;
}

// Nav Styles
nav {
    display: none;
    flex-direction: column;
    .third-of-nav {
        display: flex;
        justify-content: space-around;
        width: 33.33%;
    }
    .credit {
        text-align: center;
        text-transform: uppercase;
        background: black;
        padding: 20px 0;
        font-size: 1vw;
        font-weight: 400;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: center;
        a {
            border-top: 1px solid lightgrey;
            width: 200px;
            display: block;
            color: lightgrey;
            padding: 10px 0;
            text-decoration: none;
            &:hover {
                border-top: 1px solid var(--accentColor);
                color: var(--accentColor);
            }
        }
    }
}

// Mega Menu Styles
.mega-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: black;
    font-size: 1vw;
    padding: 30px 5%;
}

.block {
    display: flex;
    flex-direction: column;
    a {
        color: white;
        text-align: center;
        letter-spacing: 0.1rem;
        text-decoration: none;
        display: inline;
    }
}

.animate {
    width: 100%;
    margin: 10px 0 10px 0;
}

.animate a {
    height: 40px;
    border-bottom: 0 solid transparent;
    transition: all 0.3s ease-in-out;
}

.animate a:hover {
    border-bottom: 4px solid var(--accentColor);
    width: 100%;
}

@media (max-width: 940px) {
    .mega-menu {
        font-size: 2vw;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .third-of-nav {
        flex-direction: column;
    }
    .third-of-nav:last-child {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .widget-container,
    .widget {
        display: flex;
        flex-direction: column;
    }
    .middle {
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        border-left: 0;
        border-right: 0;
    }
    .date-widget,
    .region,
    .widget,
    .temps,
    .middle {
        margin-top: 20px;
    }
    .temps {
        display: flex;
        p {
            border-right: 1px solid $main-color;
            padding: 0 10px 0 10px;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}

@media (max-width: 480px) {
    nav,
    .mega-menu,
    .options {
        display: none;
    }
    .option-links {
        margin: 0;
        padding: 0;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mega-menu {
        width: 100%;
    }
    .third-of-nav {
        width: 100%;
        align-items: center;
    }
    .block {
        display: block;
        width: 100%;
    }
    .block a {
        display: block;
    }
    .animate {
        margin: 0;
        padding: 0;
    }
    .animate a {
        margin: 0;
        padding: 0;
        height: auto;
    }
}