@import 'dropdown';
@import 'variables';
body {
    background: #eeeeee;
    background-image: url("../images/lightpaperfibers.png");
    background-image: url("../images/lightpaperfibers.png");
    background-blend-mode: multiply;
    font-family: 'Noto Serif', serif;
    font-size: 62.5%;
    color: $main-color;
    margin: 0;
}

header {
    padding: 0;
    mix-blend-mode: multiply;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h1 {
    font-size: 5rem;
    text-transform: lowercase;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 50px auto 0;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 8px double $main-color;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
}

main {
    margin: 0 auto;
    position: relative;
    max-width: 90%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    align-items: start;
    // &:after {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     top: 0px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     height: 0px;
    //     width: 0px;
    //     opacity: 0.8;
    //     border-top: 400px solid $accent-color;
    //     border-left: 300px solid rgba(0, 0, 0, 0);
    //     border-right: 300px solid rgba(0, 0, 0, 0);
    //     border-bottom: 0;
    // }
}

article {
    border-bottom: 3px solid $accent-color;
    a {
        display: none;
    }
    &:nth-child(6n+1) {
        grid-column: span 2;
        grid-row: span 2;
        @media screen and (max-width: $two-column-break) {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}

img {
    width: 100%;
    opacity: 0.9;
    mix-blend-mode: luminosity;
}

.publication {
    font-style: italic;
}