svg {
  color: firebrick;
  position: fixed;
  right: 70px;
  bottom: 20px; }

/* Pulse Animation */
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; } }

.widget {
  padding: 10px 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .widget .region {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0; }
  .widget .weather-icon {
    height: 50px;
    width: 50px; }

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0 15px 0 10px;
  border-left: 1px solid #232322;
  border-right: 1px solid #232322;
  text-align: center; }

.weather-type {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 0 5px; }

.weather-image {
  max-width: 100%;
  height: 50px; }

.temps p {
  margin: 2px 0; }

body {
  background: #fefefe;
  background-blend-mode: multiply;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #232322;
  margin: 0; }

header {
  padding: 0;
  width: 90%;
  margin: 0 auto; }

h1,
h2 {
  font-family: 'Playfair Display', serif; }

h1 {
  font-size: 5rem;
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  margin: 50px auto 0;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 8px double #232322;
  font-weight: 400; }

h2 {
  font-size: 1.5rem;
  margin: 0.3em 0;
  font-weight: 200; }

p {
  font-size: 0.8rem;
  margin: 0.5em 0 1em;
  line-height: 1.3em; }

.atribution {
  font-size: 0.8rem;
  margin: 0.3em 0;
  color: #575754; }

main {
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  max-width: 90%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  mix-blend-mode: multiply; }
  main:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 50%;
    height: 0px;
    width: 0px;
    opacity: 0.8;
    border-top: 400px solid firebrick;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 0; }

article {
  border-bottom: 3px solid firebrick;
  padding-bottom: 25px; }
  article a {
    display: none; }
  article:nth-child(10n+1) {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 400px, 1fr; }
    article:nth-child(10n+1) h2,
    article:nth-child(10n+1) .atribution {
      grid-column: span 2;
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    article:nth-child(10n+1) img {
      grid-column: span 1; }
    article:nth-child(10n+1) p {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }

img {
  width: 100%;
  opacity: 0.9; }

.publication {
  font-style: italic; }

form {
  background-color: #232322;
  color: #eeeeee;
  font-size: 1rem;
  width: 90%;
  padding: 5px 5%; }

select {
  background-color: #232322;
  font-family: 'Noto Serif', serif;
  color: #eeeeee;
  font-size: 1rem;
  border: 0; }

option {
  padding: 10px;
  background-color: #232322;
  color: #eeeeee;
  font-size: 1rem; }
