//IMPORTS
@import 'setup';
@import 'variables';
@import 'scrolltop';
//GENERAL STYLES
html {
    --accentColor: crimson;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: $main-color;
    margin: 0;
}

header {
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 50px auto 0;
    padding-bottom: 25px;
    border-bottom: 8px double $main-color;
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 50%;
        opacity: 0.7;
        border-top: 400px solid var(--accentColor);
        border-left: 300px solid rgba(0, 0, 0, 0);
        border-right: 300px solid rgba(0, 0, 0, 0);
        border-bottom: 0;
        @media screen and (max-width: 1200px) {
            transform: translateX(-50%);
        }
        @media screen and (max-width: 1200px) {
            transform: translateX(-50%);
        }
        @media screen and (max-width: 900px) {
            border-top: 200px solid --accentColor;
            border-left: 150px solid rgba(0, 0, 0, 0);
            border-right: 150px solid rgba(0, 0, 0, 0);
        }
    }
    @media screen and (max-width: 900px) {
        font-size: 3rem;
    }
}

//CONTAINER FOR ARTICLES
main {
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    max-width: 90%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    align-items: start;
    @media screen and (max-width: 1090px) {
        &:after {
            border-top: 200px solid var(--accentColor);
            border-left: 150px solid rgba(0, 0, 0, 0);
            border-right: 150px solid rgba(0, 0, 0, 0);
        }
    }
    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}

//DEFAULT ARTICLE STYLES
h2 {
    font-size: 1.5rem;
    margin: 0.3em 0;
    font-weight: 200;
}

p {
    font-size: 0.8rem;
    margin: 0.5em 0 1em;
    line-height: 1.3em;
}

.atribution {
    //The name of the author
    font-size: 0.8rem;
    margin: 0.3em 0;
    color: lighten($main-color, 20%);
}

.publication {
    //The name of the publisher
    font-style: italic;
}

.preview-text {
    //Only display on expand
    display: none;
}

//DEFAULT ARTICLE LAYOUT
article {
    grid-column-start: 3;
    border-top: 3px solid var(--accentColor);
    padding-bottom: 25px;
    grid-row: span 3;
    transition: all 0.6s;
    img {
        width: 100%;
        opacity: 0.9;
        filter: grayscale(100%);
    }
    a {
        display: none;
    }
    @media screen and (max-width: 900px) {
        //reduce to a single column when there is less page real-estate
        grid-column: 1 / 2;
    }
}

//Don't display articles that are missing a headline
.no-headline {
    display: none;
}

//FEATURED LEFT-COLUMN ARTICLES
.full-data-set {
    &:nth-of-type(2n+1) {
        border-top: 10px double var(--accentColor);
        grid-column: 1 / 3;
        grid-row: span 5;
        // A grid within a grid
        // display: grid;
        // grid-template-columns: (2fr 1fr);
        h2 {
            font-size: 2rem;
        }
        h2,
        .atribution,
        img,
        a {
            grid-column: span 2;
            order: 0;
        }
        p {
            order: 1;
        }
        a {
            margin-top: 10px;
            padding: 15px;
            max-width: 70%;
        }
        &:hover {
            border: 0;
        }
        @media screen and (max-width: 900px) {
            grid-template-columns: (1fr);
            h2,
            .atribution,
            img {
                grid-column: span 1;
            }
            grid-column: 1 / 2;
            h2 {
                font-size: 1.5rem;
            }
            a {
                margin-top: 5px;
                padding: 10px;
                max-width: 100%;
            }
        }
    }
}

//NO-IMAGE MINI-NEWS ITEM STYLES
.no-image {
    grid-column: 4 / 5;
    grid-row: span 1;
    background-color: var(--accentColor);
    color: white;
    padding: 20px;
    border: 0;
    opacity: 1;
    h2 {
        font-size: 1.25em;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    p,
    .atribution {
        color: rgba(255, 255, 255, 0.8);
    }
    &:hover {
        p,
        .atribution {
            color: $main-color;
        }
    }
    @media screen and (max-width: 1090px) {
        //When the screen drops to three columns, then mix these in with the third column
        grid-column: 3 / 4;
    }
    @media screen and (max-width: 900px) {
        //stop displaying mini-articles when the screen gets small
        display: none;
    }
}

//ARTICLE HOVER STYLES
article:hover {
    background-color: #fff;
    color: $main-color;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 1, 0.35);
    border: 0;
    padding: 20px;
    z-index: 100;
    img {
        //Display featured image in colour
        filter: grayscale(1%);
    }
    a {
        //Display link as a button
        grid-column: 1 / span 1;
        display: block;
        background: var(--accentColor);
        color: white;
        max-width: 100%;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.4s;
        &:hover {
            background: $main-color;
        }
    }
    .twitter {
        background-color: #0084b4;
    }
    .preview-text {
        //Display preview text
        display: block;
        font-size: 1rem;
        margin-top: 15px;
    }
}