body {
    background-image: linear-gradient(to left bottom, #eeeeee, #e2e2d7, #efefef, #e8ebdd, #ebf0e1);
    padding: 100px;
    font-family: 'Noto Serif', serif;
    font-size: 62.5%;
    color: #222;
    opacity: 0.9;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

article {
    width: 600px;
}

img {
    width: 100%;
}

.publication {
    font-style: itallic;
}