article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.fa-arrow-alt-circle-up {
  color: var(--accentColor);
  font-family: font-awesome;
  content: 'f35b';
  font-size: 2.5rem;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 3000000;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.8); }

/* Pulse Animation */
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; } }

form {
  display: none;
  padding: 10px 20px;
  background: #232322;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem; }
  form select {
    border: 1px solid white;
    background: #232322;
    color: white;
    padding: 10px;
    margin-right: 10px; }
    form select option {
      padding: 10px; }

.widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid black;
  height: 100%; }
  .widget-container .datestamp {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
    word-spacing: 0.1rem;
    padding-left: 10px; }

.widget {
  padding: 10px 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .widget .region {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0; }
  .widget .weather-icon {
    height: 50px;
    width: 50px; }

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0 15px 0 10px;
  border-left: 1px solid #232322;
  border-right: 1px solid #232322;
  text-align: center; }

.weather-type {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 0 5px; }

.weather-image {
  max-width: 100%;
  height: 50px; }

.temps p {
  margin: 2px 0; }

.options {
  background: black;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase; }
  .options p {
    padding-bottom: 0; }

.option-links {
  padding: 15px 10px 15px 0;
  margin: 0;
  color: white;
  font-size: 1rem; }

.fa-caret-down {
  color: var(--accentColor);
  margin-bottom: 5px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  nav .third-of-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 33.33%; }
  nav .credit {
    text-align: center;
    text-transform: uppercase;
    background: black;
    padding: 20px 0;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    nav .credit a {
      border-top: 1px solid lightgrey;
      width: 200px;
      display: block;
      color: lightgrey;
      padding: 10px 0;
      text-decoration: none; }
      nav .credit a:hover {
        border-top: 1px solid var(--accentColor);
        color: var(--accentColor); }

.mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: black;
  font-size: 1vw;
  padding: 30px 5%; }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .block a {
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
    text-decoration: none;
    display: inline; }

.animate {
  width: 100%;
  margin: 10px 0 10px 0; }

.animate a {
  height: 40px;
  border-bottom: 0 solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.animate a:hover {
  border-bottom: 4px solid var(--accentColor);
  width: 100%; }

@media (max-width: 940px) {
  .mega-menu {
    font-size: 2vw;
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  .third-of-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .third-of-nav:last-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

@media (max-width: 768px) {
  .widget-container,
  .widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .middle {
    border-top: 1px solid #232322;
    border-bottom: 1px solid #232322;
    border-left: 0;
    border-right: 0; }
  .date-widget,
  .region,
  .widget,
  .temps,
  .middle {
    margin-top: 20px; }
  .temps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .temps p {
      border-right: 1px solid #232322;
      padding: 0 10px 0 10px;
      font-size: 1.1rem;
      font-weight: 300; } }

@media (max-width: 480px) {
  nav,
  .mega-menu,
  .options {
    display: none; }
  .option-links {
    margin: 0;
    padding: 0; }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .mega-menu {
    width: 100%; }
  .third-of-nav {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .block {
    display: block;
    width: 100%; }
  .block a {
    display: block; }
  .animate {
    margin: 0;
    padding: 0; }
  .animate a {
    margin: 0;
    padding: 0;
    height: auto; } }

html {
  --accentColor: crimson; }

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #232322;
  margin: 0; }

header {
  padding: 0;
  width: 90%;
  margin: 0 auto; }

h1,
h2 {
  font-family: 'Playfair Display', serif; }

h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 50px auto 0;
  padding-bottom: 25px;
  border-bottom: 8px double #232322; }
  h1:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 50%;
    opacity: 0.7;
    border-top: 400px solid var(--accentColor);
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 0; }
    @media screen and (max-width: 1200px) {
      h1:after {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }
    @media screen and (max-width: 1200px) {
      h1:after {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }
    @media screen and (max-width: 900px) {
      h1:after {
        border-top: 200px solid --accentColor;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent; } }
  @media screen and (max-width: 900px) {
    h1 {
      font-size: 3rem; } }

main {
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  max-width: 90%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }
  @media screen and (max-width: 1090px) {
    main:after {
      border-top: 200px solid var(--accentColor);
      border-left: 150px solid transparent;
      border-right: 150px solid transparent; } }
  @media screen and (max-width: 900px) {
    main {
      grid-template-columns: 1fr; } }

h2 {
  font-size: 1.5rem;
  margin: 0.3em 0;
  font-weight: 200; }

p {
  font-size: 0.8rem;
  margin: 0.5em 0 1em;
  line-height: 1.3em; }

.atribution {
  font-size: 0.8rem;
  margin: 0.3em 0;
  color: #575754; }

.publication {
  font-style: italic; }

.preview-text {
  display: none; }

article {
  grid-column-start: 3;
  border-top: 3px solid var(--accentColor);
  padding-bottom: 25px;
  grid-row: span 3;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  article img {
    width: 100%;
    opacity: 0.9;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  article a {
    display: none; }
  @media screen and (max-width: 900px) {
    article {
      grid-column: 1 / 2; } }

.no-headline {
  display: none; }

.full-data-set:nth-of-type(2n+1) {
  border-top: 10px double var(--accentColor);
  grid-column: 1 / 3;
  grid-row: span 5; }
  .full-data-set:nth-of-type(2n+1) h2 {
    font-size: 2rem; }
  .full-data-set:nth-of-type(2n+1) h2,
  .full-data-set:nth-of-type(2n+1) .atribution,
  .full-data-set:nth-of-type(2n+1) img,
  .full-data-set:nth-of-type(2n+1) a {
    grid-column: span 2;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .full-data-set:nth-of-type(2n+1) p {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .full-data-set:nth-of-type(2n+1) a {
    margin-top: 10px;
    padding: 15px;
    max-width: 70%; }
  .full-data-set:nth-of-type(2n+1):hover {
    border: 0; }
  @media screen and (max-width: 900px) {
    .full-data-set:nth-of-type(2n+1) {
      grid-template-columns: 1fr;
      grid-column: 1 / 2; }
      .full-data-set:nth-of-type(2n+1) h2,
      .full-data-set:nth-of-type(2n+1) .atribution,
      .full-data-set:nth-of-type(2n+1) img {
        grid-column: span 1; }
      .full-data-set:nth-of-type(2n+1) h2 {
        font-size: 1.5rem; }
      .full-data-set:nth-of-type(2n+1) a {
        margin-top: 5px;
        padding: 10px;
        max-width: 100%; } }

.no-image {
  grid-column: 4 / 5;
  grid-row: span 1;
  background-color: var(--accentColor);
  color: white;
  padding: 20px;
  border: 0;
  opacity: 1; }
  .no-image h2 {
    font-size: 1.25em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .no-image p,
  .no-image .atribution {
    color: rgba(255, 255, 255, 0.8); }
  .no-image:hover p,
  .no-image:hover .atribution {
    color: #232322; }
  @media screen and (max-width: 1090px) {
    .no-image {
      grid-column: 3 / 4; } }
  @media screen and (max-width: 900px) {
    .no-image {
      display: none; } }

article:hover {
  background-color: #fff;
  color: #232322;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 1, 0.35);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 1, 0.35);
  border: 0;
  padding: 20px;
  z-index: 100; }
  article:hover img {
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%); }
  article:hover a {
    grid-column: 1 / span 1;
    display: block;
    background: var(--accentColor);
    color: white;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    article:hover a:hover {
      background: #232322; }
  article:hover .twitter {
    background-color: #0084b4; }
  article:hover .preview-text {
    display: block;
    font-size: 1rem;
    margin-top: 15px; }
