body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #222;
  opacity: 0.9; }

h1,
h2 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 400; }

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

h2 {
  font-size: 2rem; }

p {
  font-size: 1.5rem; }

.publication {
  font-style: itallic; }
